@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;508;600;700;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.cuerpo-js-inicio{
    font-family: "Roboto", sans-serif;
    background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: rgb(251, 218, 0);
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: black;
}

.cuerpo-js-p1{
    font-family: "Roboto", sans-serif;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/398/928/875/abstracto-colores-wallpaper-preview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header-content {
    font-size: 16px;
    color: #000000;
    padding: 0 250px;
    margin-bottom: 25px;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cuadro {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    background-color: rgb(52, 62, 87);
    height: 60vh;
    margin: 15%;
    
}

.button {
    display: block;
    width: 500px;
    font-weight: 700;
    background-color: rgba(0, 128, 128, 0.337);
    border-radius: 18px;
    padding: 15px 30px;
    margin: 15px 130px;
    color: white;
    text-decoration: none;
}

.respuesta {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1px;
    background-color: rgb(85, 105, 104);
    height: 1000vh;
    margin: 5%;
    border-radius: 5px;
    color: rgb(237, 237, 154);
}

